<form action="api/user" method="post">
    <input name="userName" placeholder="user name"><br>
    <input name="age" placeholder="age"><br>
    <input name="country" placeholder="country"><br>
    <input type="submit" value="register">
</form>